@{
    ViewData["Title"] = "Home Page";
}
<html>
<div class="text-center">
    <h1 class="display-4">Bienvenido al Buscador de Cursos de Materia Única</h1>
    <img src="images/logoUAGASU.jpg">
</div>

<form action="/Home/Create" method="POST">
  <label for="cname">Course name:</label>
  <input type="text" id="Name" name="Name"><br><br>
  <label for="cdesc">Description:</label>
  <input type="text" id="Description" name="Description"><br><br>
  <input type="submit" value="Submit">
</form>
<br><br>
<p><a href="/Home/CoursesList">See all courses</a></p>

<br><br>
<p><a href="/Home/CoursesGrid">See all courses list using Grid</a></p>

<form action="/Home/CrearMat" method="POST">
    <label for="cname">Id de la Materia:</label>
    <input type="text" id="Id" name="Id"><br><br>
    <label for="cdesc">Nombre de la Materia:</label>
    <input type="text" id="Descripcion" name="Descripcion"><br><br>
    <input type="submit" value="Submit">
</form>



<br>
<br>
<p><a href="/materia">Ver las materias de mi tabla</a></p>
</html>