
WebDbAppBien/.vs/

WebDbAppBien/.vscode/

WebDbAppBien/bin/

WebDbAppBien/obj/

WebDbAppBien/.idea/

WebDbAppBien/WebDbApp2/bin/

WebDbAppBien/WebDbApp2/.idea/

WebDbAppBien/WebDbApp2/obj/

WebDbAppBien/Models/obj/

WebDbAppBien/Models/bin/

*.sqlite
