@model IEnumerable<Models.Course>

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using NonFactors.Mvc.Grid;


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet" />
</head>
<body>

    @(
        Html.Grid(Model).Build(columns =>
        {
            columns.Add(model => model.Id).Titled("Id");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Description).Titled("Description");
        })
        )


</body>
</html>


