@{
    // ViewData["Title"] = "Home Page";
    // var minDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05);
    // var maxDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
    // var data = new string[] { "Badminton", "Basketball", "Cricket", "Football", "Golf", "Gymnastics", "Hockey", "Tennis" };
}
<html lang="es">
<div id="buscador" class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="nivelAcademicoDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nivel Académico
            </button>
            <div class="dropdown-menu" aria-labelledby="nivelAcademicoDrop">
                <p class="dropdown-item">some stuff</p>
                <p class="dropdown-item">some stuff2</p>
                <p class="dropdown-item">some stuff3</p>
                
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="Decanato" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Decanato
            </button>
            <ul class="dropdown-menu-dark" aria-labelledby="dropdownMenu">
                <li class="dropdown-item">some stuff decanato</li>
            </ul>
        </div>
    </nav>
</div>


</html>