@using WebDbApp2.BusinessLogic
@using WebDbApp2.Miscellaneous
@{
    // ViewData["Title"] = "Home Page";
    var helper = new LogicHelper(new DataAccess());
}
<html lang="es">
<head>
</head>
@* SEARCH STUFF WIP*@
<section id="datatable">
    <table id="buscador" style="width:100%" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Decanato</th>
            <th>Departamento</th>
            <th>CodigoClase</th>
            <th>Periodo</th>
            <th>Descripcion</th>
            <th>UrlCurso</th>
            <th>UrlDownload</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Decanato</th>
            <th>Departamento</th>
            <th>CodigoClase</th>
            <th>Periodo</th>
            <th>Descripcion</th>
            <th>UrlCurso</th>
            <th>UrlDownload</th>
        </tr>
        </tfoot>
    </table>

</section>
<script src="js/jquery.min.js"></script>
<script src="js/site.js"></script>
</html>