@{
    ViewData["Title"] = "Buscador";


}



<h1>@ViewData["Title"]</h1>
<html>
<head>
    <title>Course Link</title>
</head>
<body>

    <p>Defina los siguientes criterios para localizar la materia única que usted necesita.</p>

    
    <form id="consultarmateria" name="consultarmateria" action="/Home/ConsultarMateriaGrid" method="POST">

        <label for="ccodigo">Código Clase:</label>
        <input type="text" id="id" name="id"><br><br>                       
        <input type="submit" value="Buscar" />
    </form>
    <p><a href="/materia">Ver Cursos</a></p>
</body>
</html>




